#MainView{
    padding: 3% 5% 5% 5%;
}
.MainText{
    margin-left: 40%;
    font-weight: 600;
}
.MainHeading{
    font-size: 70px;
}
.btn-primary{
   background-color: blueviolet;
   color: blueviolet;
}
.buttons{
    padding-top: 10%;
    margin-left: 40%;
}
.subText{
    opacity: 0.5;
}
lottie-player{
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
}
.lottieView{
    margin-left: 8%;
}
.lottie{
    padding: 0 0 0 0;
    margin-left: 0%;
}
#MidView{
    padding: 5% 11% 5% 11%;
}
.MidViewDesign{
    background-color: #F4EEFF;
    padding: 0% 0% 0% 0%;
}
.midText{
    padding: 7% 5% 0% 7%;
    padding-bottom: 0ch;
    margin-left: 100px;
}
.HeadingText{
    padding: 7% 2% 0% 0%;
    padding-bottom: 0ch;
    margin-left: 100px;
    font-size: 35px;
}
.programImage{
    margin-left: 20%;
}
#MidOneView{
    padding: 5% 30% 5% 3%;

}
.MidOneView{
    background-color: #EFF8FF;
}
.codeView{
    padding: 10% 5% 10% 0%;
    margin-left: 23%;
}
#MidTwoView{
    padding: 5% 3% 5% 30%;
}
.MidTwoView{
    background-color: #F4EEFF;
}
.appProjects{
    background-color: #F0D9FF;
    padding: 5% 3% 5% 3%;
}
.appProjects-1{
    background-color: #FFBCBC;
    padding: 5% 3% 5% 3%;
}
#testSection{
    background-color: #D3E0DC;
}
lottie-player{
    margin: 0 auto;
}
.J{
    padding: 0% 0% 3% 0%;
    text-align: center;
    font-size: 30PX;
}
.project1{
    background-image: url("../Images/wave-2.png");
    margin: 10% 25% 3% 30%;
    background-color: #FFE3FE;
}
.project2{
    background-image: url("../Images/wave-2.png");
    margin: 10% 25% 3% 30%;
    background-color: #FFE3FE;
}
.project3{
    background-image: url("../Images/wave-2.png");
    margin: 10% 25% 3% 30%;
    background-color: #FFE3FE;
    
}
.projectButton{
    padding-top: 5%;
}
#WelcomeSection{
    background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
    background-color: #F8EDED;
    margin: 10% 10% 10% 10%;
}
#app{
    background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
    background-color: #F8EDED;
}
.LastSection{
    background-image: url("../Images/wave-2.png");
    background-color: #FFE3FE;
}
.resumeButton{
    margin-bottom: 5%;
}
.appText{
    text-align: center;
    background-image: url("../Images/wave-2.png");
    background-color: #FFE3FE;
    margin: 2% 10% 10% 10%;
}
#other{
    background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
    background-color: #F8EDED;
    margin: 10% 10% 10% 10%;
}
#ConnectSection{
    text-align: center;
    margin: 10% 30% 10% 30%;
}
.SocialIcon{
    padding-top: 10%;
    text-align: center;
}
.fab{
    padding: 0% 2% 0% 2%;
}
.pText{
    opacity: 0.5;
    padding: 2% 0% 2% 2%
}
.ProjectTitle{
    text-align: center;
    font-size: 100px;
    padding: 5% 0% 0% 0%;
}
.appSubtext{
    opacity: 0.5;
}







