#MainView{
    padding: 5% 5% 5% 5%;
}
.MainText{
    margin-left: 40%;
    font-weight: 600;
}
.MainHeading{
    font-size: 70px;
}
.btn-primary{
   background-color: blueviolet;
   color: blueviolet;
}
.buttons{
    padding-top: 10%;
    margin-left: 40%;
}
.subText{
    opacity: 0.5;
}
.lottieView{
    margin-left: 8%;
}
.lottie{
    padding: 0 0 0 0;
    margin: 0% 0% 0% 0%;
}
#MidView{
    padding: 5% 11% 5% 11%;
}
.MidViewDesign{
    background-color: #F5F6FB;
    padding: 0% 0% 0% 0%;
}
.midText{
    padding: 7% 5% 0% 7%;
    padding-bottom: 0ch;
    margin-left: 100px;
}
.HeadingText{
    padding: 7% 5% 0% 7%;
    padding-bottom: 0ch;
    margin-left: 100px;
    font-size: 35px;
}
.programImage{
    margin-left: 20%;
}
#MidOneView{
    padding: 5% 30% 5% 3%;

}
.MidOneView{
    background-color: #FBF8F4;
}
.codeView{
    padding: 10% 5% 10% 0%;
    margin-left: 23%;
}
#MidTwoView{
    padding: 5% 3% 5% 30%;
}
.MidTwoView{
    background-color: #F5F9FA;
}
.appProjects{
    background-color: #F0D9FF;
    padding: 5% 3% 5% 3%;
}
.appProjects-1{
    background-color: #FFBCBC;
    padding: 5% 3% 5% 3%;
}
#testSection{
    background-color: #D3E0DC;
}
lottie-player{
    margin: 0 auto;
}
.J{
    text-align: center;
    font-size: 30PX;
}
.project1{
    margin: 10% 25% 3% 30%;
    background-color: #CFE5CF
}
.project2{
    margin: 10% 25% 3% 30%;
    background-color: #CFE5CF;
}
.project3{
    margin: 10% 25% 3% 30%;
    background-color: #CFE5CF
}
.projectButton{
    padding-top: 5%;
}
#WelcomeSection{
    margin: 10% 10% 10% 10%;
    text-align: center;
}




